<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIdKVl6vYXqJS0t4ty6L5LEnpjIBhahlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>580212980254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaoalmeida.CryptoLab</string>
	<key>PROJECT_ID</key>
	<string>cryptolab-ef391</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptolab-ef391.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580212980254:ios:397aedd4bd6fd38192cc0f</string>
</dict>
</plist>